export("hello")
export("adjacencyMatrix")
export("clustering")
export("geneOntology")
export("semiLabeling")
export("semiSupervised")
export("ezSGC")
export("SGC_ezPLOT")
export("SGC_plot_pca")
export("SGC_plot_heatMap")
export("SGC_plot_silhouette")
export("SGC_plot_conductance")
export("SGC_plot_jitter")
export("SGC_plot_density")
export("SGC_plot_bar")
export("SGC_plot_pie")
export("SGC_plot_silhouette")

import("AnnotationDbi")
import("DescTools")
import("ggplot2")
import("expm")
import("plyr")
import("dplyr")
import("GO.db")
import("annotate")
import("genefilter")
import("GOstats")
import("RColorBrewer")
import("xtable")
import("Rgraphviz")
import("reshape2")
import("openxlsx")
import("ggridges")
import("caret")

importFrom("grDevices", "dev.off", "graphics.off", "jpeg", "pdf",
               "recordPlot", "replayPlot")
importFrom("methods", "new")
importFrom("stats", "aggregate", "complete.cases", "dist", "kmeans",
           "median", "prcomp", "predict", "quantile", "sd", "setNames", "var")
